/* toglie il margine che viene da browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070514;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 100%;
}

section {
    padding-top: 64px;
    padding-bottom: 64px;
}

h1, h2, h3 {
    margin-bottom: 48px;
}

h1 {
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;
}

@media screen and (max-width: 576px) {
    
    h1 {
        font-size: 48px;
        line-height: 56px;
    }
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 75px;
    text-transform: uppercase;
}

h3 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
}

p {
    font-size: 24px;
    margin-bottom: 16px;
}

.input-label {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.input-label span {
    font-size: 18px;
    font-weight: 400;
}

.input-field,
.input-textarea {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #757575;
    background-color: #0E0062;
    padding: 12px 16px;
    width: 100%;
    border: none;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.input-textarea {
    height: 100px;
}

a {
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #BEDA10;
}

.button {
    background-color: #8279BB;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 24px;
    border: none;
    border-radius: 37px;
}

.button:hover {
    background-color: #BEDA10;
    color:#070514;
}

.hero {
    height: 100vh;
    background: linear-gradient(0deg, rgba(7,5,20,1) 0%, rgba(15,25,93,1) 31%);
}

.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-cta {
    align-self: flex-end;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgb(9 2 49) 100%);
    z-index: 5;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 32px;
    font-weight: 600;
    line-height: 42px;
    text-transform: uppercase;
    margin-right: 64px;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li {
    margin-right: 24px;
}

.menu ul li a {
    font-size: 24px;
}

.works-menu {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 768px) {
    .works-menu {
        display: none;
    }
}

.works-menu ul {
    list-style-type: none;
    display: flex;
}

.works-menu ul li {
    margin-right: 24px;
}

.works-item {
    margin-bottom: 96px;
}

.works-item-tags {
    font-size: 24px;
    color: #BEDA10;
}

.work-info {
    display: flex;
    flex-wrap: wrap;
}

.work-info-label {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.work-info-content {
    width: 70%;
    flex-grow: 1;
    flex-shrink: 1;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images img {
    width: 50%;
    margin-bottom: 36px;
}

@media screen and (max-width: 576px) {
    .images img {
        width: 100%;
    }
}

.image-right {
    align-self: flex-end;
}

.image-left {
    align-self: flex-start;
}

/* Contatti */
.contacts-content {
    display: flex;
    justify-content: space-between;
}

.contacts-about,
.contacts-form {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 1;
}

@media screen and (max-width: 768px) {
    .contacts-content {
        flex-direction: column;
    }

    .contacts-about,
    .contacts-form {
        width: 100%;
    }
}

/* Footer */
.footer {
    background-image: linear-gradient(100deg, rgba(7,5,20,1) 0%, rgba(14,0,98,1) 100%);
    padding-top: 24px;
    padding-bottom: 24px;
}

.copyright {
    color: #757575;
}

.anchors {
    visibility: hidden;
    position: relative;
    top: -150px;
}

.square {
    width: 100px;
    height: 100px;
}

/*

1 - in css, le regole che stanno sotto vanno a sovrascrivere quelle che stanno sopra.
2 - 1vh, 1vw = 1%
3 - margin: 0 auto; -> centra gli elementi orizzontalmente
4 - flex-wrap: wrap; -> permette di mantenere le dimensioni impostate negli item, senza strecciarli. In questo modo va a capo
5 - justify-content (sempre al contenitore) lavora lungo il main axis. Quindi se la flex-direction è row, lavora sull'asse orizzontale; se la flex-direction è column, lavora sull'asse verticale
6 - align-items (sempre al contenitore) lavora lungo il cross axis
7 - flex-grow è il fattore di ingrandimento
8 - flex-shrink è il fattore di riduzione
9 - align-self viene assegnato all'item, quindi allinea se stesso
10 - box-sizing: border-box; -> in questo modo siamo certi che la larghezza e l'altezza dei nostri elementi comprenda gli eventuali padding e bordi che abbiamo definito

*/